{% extends 'base.html' %}


{% block content %}


    <br>
    </div>

    <div class="generation-block">
        <h2><span class="oi oi-warning"></span>Disclaimer</h2>

        - This is a BETA version of recipes generation, it is under study.<br>
        - The generated recipe may contain few misspelled words, this is related to the input data quality.<br>
        - Please feel free to regenerate a recipe as many times as you want.

    </div>

    <div class="container">

        <br><br>


        <div class="row">
            <div class="col-lg-3">
                <h3 align="center">Ingredients keywords</h3><br>
                {% for keyword in recipe_ingredients_keywords %}
                    <span class="badge  badge-pill bg-warning" style="font-size: 15px;margin-bottom: 10px;">#{{  keyword }}</span>
                {% endfor %}
            </div>
            <div class="col-lg-9">
                <h3 align="center">Generated recipe</h3><br>
                <p>{{ generated_recipe }}</p>
            </div>

        </div>

    <h2>Similar recipes :</h2>
    <div class="row">
        {% for recommended_recipe in recommended_recipes %}
            <div class="card border-warning col-sm-12 col-md-6 col-lg-4">
                <img src="{{ recommended_recipe.image }}" class="card-img-top" onclick="window.location='{% url 'detail' recommended_recipe.id %}';" style="cursor: pointer;">
                <div class="card-body pb0">
                    <h5 class="card-title" onclick="window.location='{% url 'detail' recommended_recipe.id %}';" style="cursor: pointer;">{{ recommended_recipe.title }}</h5>
                    <hr width="90%">
                    <p class="card-text pt0"><small>{{ recommended_recipe.summary_of_summary }}</small></p>
                </div>
                <div class="card-footer border-warning bt0">
                    <span><span class="oi oi-clock"></span> {{ recipe.ready_in_minutes }}min </span>
                    <span style="float: right"> {{ recipe.price_per_serving|floatformat:"1" }}$</span>
                </div>
            </div>
        {% endfor %}
    </div>



{% endblock %}