{% extends 'base.html' %}

{% block content %}

<div class="row">
  {% for recipe in recipes %}
  <div class="card border-warning col-sm-6 col-md-4 col-lg-3">
    <img src="{{ recipe.image }}" class="card-img-top" onclick="window.location='{% url 'detail' recipe.id %}';" style="cursor: pointer;">
    <div class="card-body pb0">
      <h5 class="card-title" onclick="window.location='{% url 'detail' recipe.id %}';" style="cursor: pointer;">{{ recipe.title }}</h5>
      <hr width="90%">
      <p class="card-text pt0"><small>{{ recipe.summary_of_summary }}</small></p>
    </div>
    <div class="card-footer border-warning bt0">
      <span><span class="oi oi-clock"></span> {{ recipe.ready_in_minutes }}min / </span>
      <span> {{ recipe.price_per_serving }}$</span>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}