{% extends 'base.html' %}

{% block content %}

<h4 align="center" style="margin: 25px">{{ result_count }} recipes correspond to '{{ query }}'.</h4>


<div class="row">
  {% for recipe in recipes %}
  <div class="card border-warning col-sm-6 col-md-4 col-lg-3">
    <img src="{{ recipe.image }}" class="card-img-top" onclick="window.location='{% url 'detail' recipe.id %}';" style="cursor: pointer;">
    <div class="card-body pb0">
      <h5 class="card-title" onclick="window.location='{% url 'detail' recipe.id %}';" style="cursor: pointer;">{{ recipe.title }}</h5>
      <hr width="90%">
      <p class="card-text pt0"><small>{{ recipe.summary_of_summary }}</small></p>
    </div>
    <div class="card-footer border-warning bt0">
      <span><span class="oi oi-clock"></span> {{ recipe.ready_in_minutes }}min </span>
      <span style="float: right"> {{ recipe.price_per_serving }}$</span>
    </div>
  </div>
  {% endfor %}
</div>


<ul class="pagination">
  {% if recipes.has_previous %}
  <li class="page-item">
    <a href="?search={{query}}&page=1" class="page-link"><< 1</a>
  </li>
  <li class="page-item">
    <a href="?search={{query}}&page={{recipes.previous_page_number}}" class="page-link">< {{recipes.previous_page_number}}</a>
  </li>
  {% endif %}
  <li class="page-item">
    <a class="page-link">{{recipes.number}} </a>
  </li>
  {% if recipes.has_next %}
  <li class="page-item">
    <a href="?search={{query}}&page={{recipes.next_page_number}}" class="page-link">{{recipes.next_page_number}} ></a>
  </li>
  <li class="page-item">
    <a href="?search={{query}}&page={{recipes.paginator.num_pages}}" class="page-link">{{recipes.paginator.num_pages}} >></a>
  </li>
  {% endif %}
</ul>



{% endblock %}