
div.comment {
  margin: 5px 0px 19px 0px;
  border: solid 1px #ffbf29;
  padding: 15px 10px 15px 10px;
}


.comment .comment_text {
  border: dashed 1px black;
  padding: 10px;
}

small {
  white-space: normal;
}

.pagination {
  margin: 25px;
  place-content: center;
}

.page-link {
  color: #ffbf29;
  font-weight: bold;
}

.scrollhor {
  overflow: auto;
  white-space: nowrap;
  border: 3px dashed #ffbf29;
  padding: 10px;
  margin-bottom: 10px;
  height: 270px;
}

.card {
  display: inline-table;
  padding: 10px;
}

.card-body-home {
  height: 90px;
  overflow: hidden;
}

label:before {
  content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/unchecked_checkbox.png");
  position: absolute;
  z-index: 100;
}

:checked+label:before {
  content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/checked_checkbox.png");
}

input[type=checkbox] {
  display: none;
}

#diets {
  text-align: center;
}

img.diets {
  width: 120px;
  margin: 25px 90px 25px 0px;
}

.about-us-block {
  background-color: #ffbf29;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  text-align: center;
}

.generation-block {
  background-color: #ffbf29;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  text-align: center;
}

.row {
  margin-bottom: 20px;
}

a {
  color: black;
}

.card-body:not(.home-card) .card-title {
  height: 50px;
  overflow: hidden;
}

.card-body:not(.home-card) .card-text {
  overflow: hidden;
}

.todays-special {
  position: relative;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.text-on-todays-special {
  position: absolute;
  bottom: 25%;
  left: 20%;
  background-color: rgba(255,255, 255, 0.8);
  width: 60%;
  padding: 16px;
  text-shadow: 0 0 black;
}


.navbar li:hover {
  background-color: #ffbf29;
  /*border: 4px solid #ffbf29;*/
}

.signup-form, .login-form {
  text-align: center;
}


/*label {*/
/*  margin: 10px;*/
/*  width: 150px;*/
/*  height: 150px;*/
/*}*/


