small {
  white-space: normal;
}

.scrollhor {
  overflow: auto;
  white-space: nowrap;
}

.card-body-home {
  height: 170px;
}

.card {
  display: inline-table ;
}

label:before {
  content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/unchecked_checkbox.png");
  position: absolute;
  z-index: 100;
}
:checked+label:before {
  content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/checked_checkbox.png");
}
input[type=checkbox] {
  display: none;
}

#diets {
  text-align: center;
}

img.diets {
  width: 120px;
  margin: 25px 90px 25px 0px;

}

/*label {*/
/*  margin: 10px;*/
/*  width: 150px;*/
/*  height: 150px;*/
/*}*/


