{% extends 'base.html' %}

{% block content %}



    <h1>My settings</h1><br><br>

    <form method="POST"  action="{% url 'settings' %}">
        {% csrf_token %}
        Nom d'utilisateur: <br>
        <input type="text" name="username"  value="{{ user.username }}" /> <br>
        Email: <br>
        <input type="email" name="email" readonly disabled value="{{ user.email }}" /> <br>
        Nom: <br>
        <input type="text" name="lastname" value="{{ user.last_name }}" /> <br>
        Prénom: <br>
        <input type="text" name="firstname" value="{{ user.first_name }}" /> <br>
        Mot de passe: <br>
        <input type="password" name="password" /> <br>
        <br><br>
        <input type="submit" class="btn btn-warning" value="Modifier !" name="submit">
    </form>
    {% if error %}
        <p style="color: darkgreen">{{ success_msg }}</p>
        <br>
    {% endif %}






{% endblock %}

