{% extends 'base.html' %}

{% block content %}



    <div class="signup-form">
    <h1>Sign up</h1>
    <form method="POST"  action="{% url 'signup' %}">
        {% csrf_token %}
        Username: <br>
        <input type="text" name="username" /> <br>
        Email: <br>
        <input type="email" name="email" /> <br>
        Lastname: <br>
        <input type="text" name="lastname" /> <br>
        Firstname: <br>
        <input type="text" name="firstname" /> <br>
        Password: <br>
        <input type="password" name="password1" /> <br>
        Confirm your password: <br>
        <input type="password" name="password2" />
        <br><br>
        <input type="submit" class="btn btn-primary" value="Create account !" name="submit">
    </form>
    {% if error %}
        <p style="color: red">{{ error }}</p>
        <br>
    {% endif %}
    </div>

{% endblock %}

